@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s;
}
* a {
  text-decoration: none;
}
* ul {
  list-style: none;
}

.btn {
  padding: 10px 25px;
  background-color: #3D37F1;
  border-radius: 40px;
  border: none;
  box-shadow: 0px 5px 20px -1px rgba(61, 55, 241, 0.5215686275);
}
.btn a {
  color: #FFFFFF;
}

.btn-yellow {
  padding: 10px 30px;
  background-color: #FF8923;
  border-radius: 40px;
  border: none;
  box-shadow: 0px 5px 20px -1px rgba(255, 138, 35, 0.5764705882);
}
.btn-yellow a {
  color: #FFFFFF;
  text-transform: uppercase;
}

.btn-white {
  padding: 10px 25px;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #FFFFFF;
}
.btn-white a {
  color: #FFFFFF;
  text-transform: uppercase;
}

.btn-white:hover {
  background-color: #FFFFFF;
}
.btn-white:hover a {
  color: #534D4D;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.flex-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "Lato", sans-serif;
}

#main-header {
  background-image: url(../img/bg.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
#main-header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-header .container nav .logo h1 {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  color: #3D37F1;
}
#main-header .container nav .logo h1 span {
  color: #534D4D;
  font-weight: 100;
}
#main-header .container nav .manu-bar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#main-header .container nav .manu-bar ul li a {
  color: #FFFFFF;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 20px 10px;
  display: inline-block;
  font-family: "lato", sans-serif;
}
#main-header .container .bannar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}
#main-header .container .bannar .left-content h1 {
  color: #534D4D;
  font-size: 4rem;
  line-height: 1.5;
  font-family: "lato", sans-serif;
}
#main-header .container .bannar .left-content p {
  font-family: "Roboto", sans-serif;
  color: #534D4D;
  font-size: 1.2rem;
}
#main-header .container .bannar .left-content .btn {
  margin-top: 2rem;
  padding: 10px 45px !important;
}
#main-header .container .bannar .bannar-image img {
  width: 35vw;
}

#services {
  background-color: #FBFCFD;
}
#services .container .header-element {
  text-align: center;
  line-height: 1.5;
  padding: 1rem 10rem;
}
#services .container .header-element h3 {
  color: #3D37F1;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
}
#services .container .header-element h1 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #534D4D;
}
#services .container .header-element p {
  font-size: 1.1rem;
  color: #534D4D;
  font-family: "Roboto", sans-serif;
}
#services .container .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  margin: 2rem 0;
  justify-content: space-between;
}
#services .container .grid-container .card {
  text-align: center;
  color: #FFFFFF;
  font-family: "lato", sans-serif;
}
#services .container .grid-container .card .card-content {
  padding: 2rem;
}
#services .container .grid-container .card .card-content img {
  width: 100px;
  height: 100px;
}
#services .container .grid-container .card .card-content h3 {
  margin: 3rem 0 1rem 0;
}
#services .container .grid-container .card .card-content p {
  padding: 1rem 2rem;
}
#services .container .grid-container .card .card-content .btn-white {
  margin: 1rem 0;
}
#services .container .grid-container .card-1 {
  background-image: linear-gradient(to top, #f59738, #DFA871);
}
#services .container .grid-container .card-2 {
  background-image: linear-gradient(to top, #00c1bb, #41EAE3);
}
#services .container .grid-container .card-3 {
  background-image: linear-gradient(to top, #5c3ea1, #69529F);
}
#services .container .grid-container .card-4 {
  background-image: linear-gradient(to top, #146dd2, #4386d2);
}
#services .container .grid-container .card-5 {
  background-image: linear-gradient(to top, #9592fd, #a5a2f6);
}
#services .container .grid-container .card-6 {
  background-image: linear-gradient(to top, #ff6b75, #ff8088);
}

#about-ui .flex-container {
  margin: 5rem;
}
#about-ui .flex-container .left-image img {
  width: 30rem;
}
#about-ui .flex-container .right-content h1 {
  color: #534D4D;
  font-size: 2rem;
  line-height: 2;
}
#about-ui .flex-container .right-content p {
  color: #534D4D;
  font-size: 1.3rem;
  font-family: "roboto", sans-serif;
}
#about-ui .flex-container .right-content .icons {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 3rem 0 0 0;
}
#about-ui .flex-container .right-content .icons img {
  width: 50px;
}
#about-ui .flex-container .right-content .icons hr {
  width: 50px;
  height: 5px;
  background-color: #534D4D;
  margin: 0 50px;
}

#portfolio .flex-container {
  align-items: flex-start;
}
#portfolio .flex-container .list {
  width: 20%;
  font-family: "Roboto", sans-serif;
}
#portfolio .flex-container .list h1 {
  color: #534D4D;
}
#portfolio .flex-container .list p {
  color: #534D4D;
}
#portfolio .flex-container .list ul li {
  line-height: 2;
  color: #534D4D;
  margin: 1.5rem 0;
}
#portfolio .flex-container .list ul li hr {
  color: #534D4D;
}
#portfolio .flex-container .list ul li:hover {
  color: #146dd2;
  cursor: pointer;
}
#portfolio .flex-container .list ul li:hover hr {
  background-color: #146dd2;
}
#portfolio .flex-container .port-image {
  width: 75%;
  display: grid;
  grid-template-columns: auto auto auto;
}
#portfolio .flex-container .port-image .image-container {
  padding: 1rem;
}
#portfolio .flex-container .port-image .image-container img {
  width: 200px;
  padding: 0;
  border: 2px solid #146dd2;
}/*# sourceMappingURL=style.css.map */