@import '_reset.scss';
@import '_components.scss';

// font-family: 'Lato', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
// // Variables Here....

$yellow-bg-btn: #FF8923;
$yellow-bg-btn-opacity: #ff8a2393;
$bule-bg-btn: #3D37F1;
$bule-bg-btn-opacity: #3d37f185;
$text-blue: #3D37F1;
$white-text: #FFFFFF;
$dark-text-h1:#534D4D;
$bg-light-50:#FBFCFD;
$bg-card-1:#f59738;
$bg-card-opacity-1:#DFA871;
$bg-card-2:#00c1bb;
$bg-card-opacity-2:#41EAE3;
$bg-card-3:#5c3ea1;
$bg-card-opacity-3:#69529F;
$bg-card-4:#146dd2;
$bg-card-opacity-4:#4386d2;
$bg-card-5: #9592fd;
$bg-card-opacity-5: #a5a2f6;
$bg-card-6:  #ff6b75;
$bg-card-opacity-6:  #ff8088;

// Container...
.container{
    width: 85%;
    margin: 0 auto;
}
.flex-container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-family: 'Lato', sans-serif;
}

// Local CSS Here......

#main-header{
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;

    .container{
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                h1{
                    font-size: 2rem;
                    font-family: 'Lato', sans-serif;
                    color: $text-blue;
                    span{
                        color: $dark-text-h1;
                        font-weight: 100;
                    }
                }
            }
            .manu-bar{
                ul{
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    li{
                        a{
                            color: $white-text;
                            font-weight: 500;
                            text-transform: uppercase;
                            font-size: 1.1rem;
                            padding: 20px 10px;
                            display: inline-block;
                            font-family: 'lato', sans-serif;
                        }
                    }

                }
            }

        }
        .bannar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 6rem;
            .left-content{
                h1{
                    color: $dark-text-h1;
                    font-size: 4rem;
                    line-height: 1.5;
                    font-family: 'lato', sans-serif;
                }
                p{
                    font-family:'Roboto', sans-serif;
                    color: $dark-text-h1;
                    font-size: 1.2rem;
                }
                .btn{
                    margin-top: 2rem;
                    padding: 10px 45px !important;
                }
            }
            .bannar-image{
                img{
                    width: 35vw;
                }
            }
        }
    }
}

#services{
    background-color: $bg-light-50;
    .container{
        .header-element{
            text-align: center;
            line-height: 1.5;
            padding: 1rem 10rem;
            h3{
                color: $text-blue;
                font-size: 1rem;
                font-family: 'Lato', sans-serif;
                letter-spacing: 1.5px;
            }
            h1{
                font-family: 'Lato',sans-serif;
                font-size: 2rem;
                color: $dark-text-h1;
            }
            p{
                font-size: 1.1rem;
                color: $dark-text-h1;
                font-family: 'Roboto', sans-serif;
            }
        }
        .grid-container{
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 2rem;
            margin: 2rem 0;
            justify-content: space-between;
            .card{
                text-align: center;
                color: $white-text;
                font-family: 'lato', sans-serif;
                .card-content{
                    padding: 2rem;
                    img{
                        width: 100px;
                        height: 100px;
                    }
                    h3{
                        margin: 3rem 0 1rem 0;
                    }
                    p{
                        padding: 1rem 2rem;
                    }
                    .btn-white{
                        margin: 1rem 0;
                    }
                }
            }
            .card-1{
                background-image: linear-gradient(to top, $bg-card-1, $bg-card-opacity-1);
            }
            .card-2{
                background-image: linear-gradient(to top, $bg-card-2, $bg-card-opacity-2);
            }
            .card-3{
                background-image: linear-gradient(to top, $bg-card-3, $bg-card-opacity-3);
            }
            .card-4{
                background-image: linear-gradient(to top, $bg-card-4, $bg-card-opacity-4);
            }
            .card-5{
                background-image: linear-gradient(to top, $bg-card-5, $bg-card-opacity-5);
            }
            .card-6{
                background-image: linear-gradient(to top, $bg-card-6, $bg-card-opacity-6);
            }
        }
    }
}
#about-ui{
    .flex-container{
        margin: 5rem;
        .left-image{
            img{
                width: 30rem;
            }
        }
        .right-content{
            h1{
                color: $dark-text-h1;
                font-size: 2rem;
                line-height: 2;
            }
            p{
                color: $dark-text-h1;
                font-size: 1.3rem;
                font-family: 'roboto', sans-serif;
            }

            .icons{
                display: flex;
                justify-content: left;
                align-items: center;
                padding: 3rem 0 0 0;

                img{
                    width: 50px;
                }
                hr{
                    width: 50px;
                    height: 5px;
                    background-color: $dark-text-h1;
                    margin: 0 50px;
                    
                }
            }
        }
    }
}

#portfolio{
    .flex-container{
        align-items: flex-start;
        .list{
            h1{
                color: $dark-text-h1;
            }
            p{
                color: $dark-text-h1;
            }
            width: 20%;
            font-family: 'Roboto', sans-serif;
            ul{
                li{
                    line-height: 2;
                    color: $dark-text-h1;
                    margin: 1.5rem 0;
                    hr{
                        color: $dark-text-h1;
                    }
                }
                li:hover{
                    color: $bg-card-4;
                    cursor: pointer;
                }
                li:hover hr{
                    background-color: $bg-card-4;
                }
            }
        }
        .port-image{
            width: 75%;
            display: grid;
            grid-template-columns: auto auto auto;
            .image-container{
                padding: 1rem;
                img{
                    width: 200px;
                    padding: 0;
                    border: 2px solid $bg-card-4;
                }
    
            }
        }
    }
}
